MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=ai_resume_analyzer
JWT_SECRET_KEY=generate_a_secure_random_key_here
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ENDPOINT_URL=
OLLAMA_BASE_URL=http://localhost:11434
